main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1024px;
}

.main_info {
  width: 100%;
  max-width: 570px;
}

.main_info p {
  font-size: 18px;
  margin: 20px 0 28px;
}

.main_info div {
  display: flex;
  column-gap: 32px;
}

.main_info div button,
.main_info div a {
  width: 40%;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  background-color: var(--red);
  text-align: center;
  border: none;
  transform: skew(-10deg);
}
.main_info div button {
  background-color: transparent;
  border: 1px solid var(--green);
}

.main_info div a:hover {
  background-color: transparent;
  border: 1px solid var(--green);
  transition: ease-in-out 0.5s;
}

.main_info div button:hover {
  background-color: var(--red);
  border: 1px solid var(--red);
  transition: ease-in-out 0.5s;
}
